/* 
 * Roll20Pixels Chrome Extension
 * This file contains the CSS for the popup window.
 */

body {
    width: 250px;
    text-align: center;
    background-color: black;
}

.container {
    width: 200px;
    margin: auto;
    text-align: center;
}

.errorMsgLbl {
    color: #FF0000;
    font-size: 12px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.title {
    font-size: 20px;
    color: #000000;
    margin-top: 0px;
    margin-bottom: 0px;
    text-shadow: 0px 0px 5px #ffffff;
}

button {
    outline: none;
}

.roundbutton {
    height: 35px;
    width: 35px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
}

.roundbutton.small {
    height: 25px;
    width: 25px;
    padding: 0;
}

.buttons {
    text-align: center;
}

.buttons button {
    height: 35px;
    width: 35px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
}

.buttons button:hover {
    background-color: #CCC;
}

.connectedDice {
    margin-top: 5px;
    display: inline-block;
    border: none;
    border-radius: 10px;
    padding: 5px 10px;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    font-size: 13px;
    float: none;
    background-color: #000000;
    color: #bcbcbc;
}

.connectedDice span {
    margin-right: 8px;
    vertical-align: 1px;
    display: inline;
    float: none;
}

.connectedDice:hover {
    background-color: #2a2a2a;
}

.connectedDiceSmall {
    margin-top: 2px;
    display: inline-block;
    border: none;
    border-radius: 5px;
    padding: 5px 5px;
    cursor: pointer;
    font-size: 8px;
    float: none;
    background-color: #000000;
    color: #bcbcbc;
}

.connectedDiceSmall:hover {
    background-color: #2a2a2a;
}

.diceCountLabel {
    display: inline-block;
    font-size: 13px;
    color: #CCC;
}

.diceCount {
    display: inline-block;
    font-size: 13px;
    font-weight: bold;
    color: #CCC;
}

.dice {
    color: #CCC;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    margin: 2px 0;
    padding: 2px 5px;
    border: solid 1px #CCC;
    border-radius: 5px;
    background-color: #000000;
}
